<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off" monitorInterval="1800">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p (%F:%L) - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <root level="debug" includeLocation="true">
            <appender-ref ref="Console"/>
        </root>

        <logger name="org.springframework" level="info"/>

        <logger name="org.springframework.security" level="debug"/>
        <logger name="org.hibernate.sql" level="debug"/>
        <logger name="com.ml" level="debug"/>
    </Loggers>
</Configuration>